{% extends "base.html" %}

{% block body %}
<body>
  <div id="container" class="container">
    <div class="form">
      <form role="form" method="post">
        <div class="form-group">
          <label class="control-label">Please Enter your Email</label>
          <input type="email" class="form-control" placeholder="E-mail" name="email">
        </div>
        {% if error == 1 %}
          <div class="alert alert-danger" role="alert">錯誤</div>
        {% endif  %}
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}