{% extends "base.html" %}

{%block body %}
<body>
  <div id="container" class="container">
	<form method="post">
	{% for i in range (1,10)%}
		Game{{i}}
		<select name = "{{i}}p1">
			<option value="None">None</option>
			{% for j in event.regp %}
			{% if j.split('|')[0] != "" %}
				<option>{{j.split('|')[0]}}</option>
			{% endif %}
			{% endfor %}
		</select>
		 <input type="radio" name="win{{i}}" value="0" checked>></input>
		 <input type="radio" name="win{{i}}" value="1"><</input>
		<select name = "{{i}}p2">
			<option value="None">他隊成員 or None</option>
			{% for j in event.regp %}
			{% if j.split('|')[0] != "" %}
				<option>{{j.split('|')[0]}}</option>
			{% endif %}
			{% endfor %}
		 <input type="radio" name="race{{i}}" value="P" checked>P</input>
		 <input type="radio" name="race{{i}}" value="T">T</input>
		 <input type="radio" name="race{{i}}" value="Z">Z</input>
		</select>
		<br>
	{% endfor %}
	<input type="hidden" value="{{event_id}}">
	<input type="submit" onsubmit="alert('資料一旦送出就不能更改了喔!送出前記得確定你都沒有打錯任何東西，沒有腦殘眼殘手殘喔')">
	</form>	
  </div>
</body>
{% endblock %}