{% extends "base.html" %}

{%block body %}
<body>
  <div id="container" class="container">
	<h1>加入我們</h1>
	戰隊核心價值：<br>
	1. SR戰隊要帶給大家熱血與感動的戰隊<br>
	2. SR戰隊要成為大家尊敬的戰隊<br>
	3. SR戰隊所有成員必須遵守戰隊規範 <br>
	<br>
	入隊條件：<br>
	1.  除了特殊專長入隊，1v1白銀以上即可入隊<br>
	2.  同意戰隊規範<br>
	3.  為方便管理，拒收條碼人<br>
	4. 以台韓服為主要活動伺服器<br>
	5.  白銀、黃金培訓入隊 <br>
	6. 推薦入隊:隊員可推薦朋友入隊，被推薦人填妥本表單並經幹部審查後即可入隊。<br>
	<br>
	特殊/專長入隊:<br>
	1.  美工人員：請準備作品提供幹部審查。<br>
	2.  女性玩家<br>
	3.直播專長: 須有直播網以及VOD參考，可在戰隊交流賽時當任固定直播人員。<br>
	4.領隊: 協助交流事務。<br>
	<hr>
	<h1>入隊步驟</h1>
	<h3>1.註冊SR戰隊網頁帳號</h3>
	帳號註冊<a href="/account/signup" target="blank">傳送門</a>
	<h3>2.填寫入隊表單</h3>
	表單填寫<a href="/joinus_form" target="blank">傳送門</a>
	備註：申請表格請慎填，勿亂打或來亂，內容打錯可告知，由內部人員幫修正即可。
	<h3>3.至RC群組進行入隊訪談</h3>
	請至SR戰隊RC群組(ID:25708965)找幹部進行入隊訪談後即可成功入隊。
  </div>
</body>
{% endblock %}