{% extends "base.html" %}

{% block body %}
<body>
  <div id="container" class="container">
          <h1>{{stra.title}}</h1>
          {{stra.author}}
          {% if username==stra.author.split('(')[1][:-1]  or userstatus==10 %}<a  href="/admin/stra/modify?stra_id={{stra.key()}}"> 修改 </a> {% endif %}
          <hr>
          {{stra.content|safe}}
          <hr>

          {% if stra.upload_files_key %}
          附件：
             {% for i in range(0,stra.upload_files_key.__len__()) %}
              <a href="/admin/serve/{{stra.upload_files_key[i]}}?name={{stra.upload_files_name[i]}}" download>{{stra.upload_files_displayname[i]}}</a>
            {% endfor %}
          {% endif %}

          {% for i  in range(0,stra.message.__len__()) %}
          <div class="media 
          {% if stra.message_style[i] == -1 %}
          alert-danger
          {% elif stra.message_style[i] == 1 %}
          alert-success
          {% else %}
          alert-info
          {% endif %}">
          <div class="media-left media-middle">
               
        <img src="/account/img_53?img_id={{stra.message_img[i]}}" alt="{{stra.message_author[i]}}"  style="width: 53px; height: 53px;">
      </div>
           <div class="media-body">
             <span class="media-heading.h4">{{stra.message_author[i]}}</span> <small>{{stra.message_time[i]}}</small><br>
              {{stra.message[i] | safe }}
            </div>
       </div>
          {% endfor %}
          <h2>留言</h2>
          {% if userstatus >= 3 %}
          上限50個字<br>
          <form method="POST">
               <div class="input-group">
                    <input name="message" type="text" class="form-control" value={{message}}></input>
                    <span class="input-group-addon">
                         <input type="radio" name="style" value="1">推 </input>
                         <input type="radio" name="style" value="0" checked>-> </input>
                         <input type="radio" name="style" value="-1">噓 </input>
                         <input type="hidden" value="{{stra.key()}}" name="stra_key">
                         <input type="submit" value="送出">
                    </span>
               </div>
          </form>
          {% if error==1 %}
          <div class="alert alert-danger" role="alert">錯誤，你輸入太多東西了。</div>
          {% elif error == 2 %}
          <div class="alert alert-danger" role="alert">錯誤，你覺得空白有意義嗎？</div>
          {% endif %}
          {% endif %}
  </div>
</body>
{% endblock %}