{% extends "base.html" %}

{% block body %}
  
  <div id="container"  class="container">
    <h1> 戰術區</h1>
    {% if userstatus >=3 %}
    <a href="/admin/stra/new" class="btn btn-primary btn-lg" role="button">新增戰術</a>
    {% endif %}
    <p> 
      <ol start="{{(page-1)*10+1}}">
      {% for i in stra %}
        <li><h3><a href="/stra?stra_id={{i[3]}}">{{i[0]}}</a></h3>作者：{{i[5]}}</li>
        <p class="additional_text">建立時間：{{i[1]}} 最後修改：{{i[2]}} 
        {% if username==i[5].split('(')[1][:-1] or userstatus==10  %}<a  href="/admin/stra/modify?stra_id={{i[4]}}"> 修改 </a> {% endif %}
        </p>
        <hr>
      {% endfor %}
      </ol>
    </p>
    <p>
      <nav>
        <ul class="pagination">
        {% if page > 1 %}
        <li><a href="/stra?page={{page-1}}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
        {% endif %}
      {% for i in range (1,count+1) %}
          <li
            {% if i == page %}
              class="active"
            {% endif %}
          ><a href="/stra?page={{i}}"> {{i}} </a></li>
      {% endfor %}
        <li><a href="/stra?page={{page+1}}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
        </ul>
      </nav>
    </p>
  </div>
{% endblock %}